body {
    color: black;
    background-color: rgb(241, 241, 241);
    text-align: center;
    justify-content: center;
 }
 .dark-theme {
    color: white;
    background-color: rgb(26, 20, 20);
 }

 button {
    width: 13rem;
    height: 2rem;
    font-size: 1.5rem;
    background-color: aqua;
    border: none;
    border-radius: 12px;
 }
 
